// ---------------------------------- PALETTE OF COLORS

$lighter-color: #dfedf2;
$darker-color: #011526;
$main-color1: #038c8c;
$main-color2: #026873;
$main-color3: #013440;

// ---------------------------------- FONTS

@font-face {
  font-family: Rubik;
  src: url("Fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

// ---------------------------------- MULTI PLATFORM TEMPLATE

@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// ---------------------------------- PAGE STYLING

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $lighter-color;
  color: $darker-color;
  font-family: Rubik;
  scroll-behavior: smooth;
}

// ---------------------------------- NAVIGATION BAR __ MOBILE

.mobile-nav {
  @include display-flex();
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -0.5rem;
  right: -0.5rem;
  background-color: $main-color1;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 10;
}

.nav-menu__bars {
  @include display-flex();
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
}

.nav-menu__bar {
  height: 3px;
  width: 100%;
  background-color: $main-color3;
  border-radius: 20px;
}

// ---------------------------------- TITLE

.title {
  margin-top: 6rem;

  h1 {
    text-align: center;
    font-size: clamp(1.2rem, 8vw, 3rem);
    margin: 1.5rem 0;
  }

  h2 {
    text-align: center;
    font-size: clamp(1rem, 7vw, 2.5rem);
    margin: 2rem 0;
    color: $main-color2;
  }
}

// ---------------------------------- MAIN IMAGE

.main-image {
  width: clamp(5rem, 75vw, 20rem);
  border-radius: 50%;
  margin: 4rem auto;
  overflow: hidden;

  img {
    width: 100%;
    box-shadow: 0 2px 8px$darker-color;
  }
}

// ---------------------------------- CONTACTS

footer {

  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: $main-color2;
  color: $lighter-color;
  font-weight: bold;

  p {
    text-align: center;
    padding: 0.7rem 0;
    margin: 0;
    font-size: clamp(0.6rem, 4vw, 1rem);
    overflow: hidden;
  }
}
