@font-face {
  font-family: Rubik;
  src: url("Fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #dfedf2;
  color: #011526;
  font-family: Rubik;
  overflow-x: hidden;
}

.backdrop-inactive {
  display: none;
}

.backdrop-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #013440;
  opacity: 80%;
  z-index: 5;
}

@keyframes nav-slide {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-open {
  width: 40vw;
  height: 100vh;
  border-radius: 0;
  animation: nav-slide 0.7s;
}

.nav-close {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transform: translate(0.5rem, -0.5rem);
  cursor: pointer;
}

.mobile-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #038c8c;
  z-index: 10;
}
.mobile-nav .nav-menu__bars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mobile-nav .nav-menu__bar {
  height: 3px;
  width: 50%;
  background-color: #013440;
  border-radius: 20px;
}
.mobile-nav .nav-menu__open {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}
.mobile-nav .nav-menu__open a {
  color: #dfedf2;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}
.mobile-nav .nav-menu__open a:hover,
.mobile-nav .nav-menu__open a:focus {
  color: #011526;
}

.desktop-nav {
  display: none;
}

#home .title {
  padding-top: 4rem;
}
#home .title h1 {
  text-align: center;
  font-size: clamp(1.2rem, 8vw, 3rem);
  margin: 1.5rem 0;
}
#home .title h2 {
  text-align: center;
  font-size: clamp(1rem, 7vw, 2.5rem);
  margin: 2rem 0;
  color: #026873;
}
#home .main-image {
  width: clamp(5rem, 60vw, 20rem);
  height: clamp(5rem, 60vw, 20rem);
  border-radius: 50%;
  margin: 4rem auto 0 auto;
  overflow: hidden;
}
#home .main-image img {
  width: 100%;
  transform: translateY(-1.2rem);
}

section h2 {
  padding-top: 5rem;
  margin: 0;
  text-align: center;
  color: #026873;
  font-size: clamp(1rem, 7vw, 2.5rem);
}

#about p {
  margin: 2rem auto;
  padding: 0 clamp(1rem, 3vw, 3rem);
  text-align: justify;
  color: #013440;
  font-size: clamp(0.8rem, 4.5vw, 1rem);
  max-width: 50rem;
}
#about .img-container {
  width: clamp(5rem, 60vw, 20rem);
  height: clamp(5rem, 60vw, 20rem);
  margin: auto;
  margin-top: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
#about .img-container img {
  width: 100%;
}

#skills .icons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: clamp(3rem, 7vw, 6rem) 0;
}
#skills .icon-container {
  position: relative;
  width: clamp(3rem, 15vw, 8rem);
  height: clamp(3rem, 15vw, 8rem);
}
#skills .icon-container img {
  width: 100%;
  height: 100%;
}
#skills .icon-container .mini-icon {
  position: absolute;
  transform: translate(clamp(1rem, 2.6vw, 2.1rem), clamp(-1rem, -2.6vw, -2.1rem));
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
#skills .languages h2 {
  padding-top: 1rem;
}
#skills .languages .icons-container {
  margin-bottom: 1rem;
}
#skills h2 {
  margin-bottom: clamp(3rem, 7vw, 6rem);
}

#projects {
  margin-bottom: 6rem;
}
#projects .project {
  position: relative;
  margin: clamp(3rem, 7vw, 6rem) auto;
  width: clamp(5rem, 60vw, 20rem);
  height: clamp(5rem, 60vw, 20rem);
  border-radius: 50%;
  overflow: hidden;
}
#projects .project img {
  width: 100%;
}
#projects .cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 20%;
  top: 0;
  left: 0;
  background-color: #013440;
  height: 100%;
  width: 100%;
  opacity: 90%;
  transform: translateX(100%);
  transition: transform 0.4s;
}
#projects .cover p {
  color: #dfedf2;
  text-align: center;
  font-size: clamp(0.6rem, 4vw, 1.2rem);
  text-shadow: 8px 8px 2px #013440;
}
#projects .project img:hover + .cover,
#projects .cover:hover,
#projects .cover p:hover {
  transform: translateX(0%);
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #026873;
  color: #dfedf2;
  font-weight: bold;
}
footer .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
footer .contact a {
  display: block;
  text-align: center;
  padding: 0.7rem 0;
  margin: 0;
  font-size: clamp(0.6rem, 4vw, 1rem);
  overflow: hidden;
  color: #dfedf2;
  text-decoration: none;
}
footer .contact a:hover,
footer .contact a:focus {
  color: #011526;
}
footer .contact .icon {
  width: clamp(1rem, 5vw, 1.2rem);
  height: clamp(1rem, 5vw, 1.2rem);
  margin-right: 0.3rem;
}
footer .contact img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  .content-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: clamp(1px, 100%, 100rem);
    margin: auto;
    padding: 10vw 2rem 0 2rem;
    scroll-snap-align: start;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #038c8c;
    z-index: 10;
    width: 100%;
    height: 3rem;
    border-radius: 0;
    padding: 0 clamp(2rem, 10vw, 10vw);
  }
  .desktop-nav a {
    color: #dfedf2;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.2rem);
    transition: transform 0.2s;
  }
  .desktop-nav a:hover,
.desktop-nav a:focus {
    color: #011526;
    transform: scale(1.1);
  }

  #home .title {
    padding-top: 0;
  }
  #home .main-image {
    width: clamp(20rem, 25vw, 25rem);
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #013440;
    margin: 0;
  }
  #home .main-image img {
    display: block;
    transform: none;
  }

  section h2 {
    padding-top: 0;
    margin-bottom: 2rem;
  }

  #about p {
    margin: 0;
    padding: 0;
    font-size: clamp(0.8rem, 4.5vw, 1.1rem);
    width: 40vw;
    max-width: 35rem;
  }
  #about .img-container {
    width: clamp(20rem, 25vw, 25rem);
    height: auto;
    margin: 0;
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #013440;
  }
  #about .img-container img {
    display: block;
  }

  #skills {
    align-items: flex-start;
    padding-top: 25vh;
  }
  #skills .icons-container {
    width: 40vw;
    max-width: 30rem;
  }
  #skills .icon-container {
    width: clamp(3rem, 15vw, 6rem);
    height: clamp(3rem, 15vw, 6rem);
  }
  #skills .languages h2 {
    padding-top: 0;
  }

  #projects {
    margin-bottom: 6rem;
    flex-direction: column;
    justify-content: center;
  }
  #projects h2 {
    margin-bottom: 6rem;
  }
  #projects .projects {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #projects .project {
    margin: 0;
    width: clamp(18rem, 25vw, 22rem);
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #013440;
  }
  #projects .project img {
    display: block;
  }

  footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    scroll-snap-align: start;
  }
}

/*# sourceMappingURL=main.css.map */
