// ---------------------------------- PALETTE OF COLORS

$lighter-color: #dfedf2;
$darker-color: #011526;
$main-color1: #038c8c;
$main-color2: #026873;
$main-color3: #013440;

// ---------------------------------- MEASURE

$mobile-img__diameter: clamp(5rem, 60vw, 20rem);

// ---------------------------------- FONTS

@font-face {
  font-family: Rubik;
  src: url("Fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

// ---------------------------------- MULTI PLATFORM TEMPLATE

@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// ---------------------------------- PAGE STYLING

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $lighter-color;
  color: $darker-color;
  font-family: Rubik;
  overflow-x: hidden;
}

.backdrop-inactive {
  display: none;
}

.backdrop-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $main-color3;
  opacity: 80%;
  z-index: 5;
}

// ---------------------------------- NAVIGATION BAR __ MOBILE

// ---------------------------------- ANIMATIONS

@keyframes nav-slide {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

// ---------------------------------- STYLING

.nav-open {
  width: 40vw;
  height: 100vh;
  border-radius: 0;
  animation: nav-slide 0.7s;
}

.nav-close {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transform: translate(0.5rem, -0.5rem);
  cursor: pointer;
}

.mobile-nav {
  @include display-flex();
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $main-color1;
  z-index: 10;

  .nav-menu__bars {
    @include display-flex();
    flex-direction: column;
    padding: 0.8rem 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .nav-menu__bar {
    height: 3px;
    width: 50%;
    background-color: $main-color3;
    border-radius: 20px;
  }

  .nav-menu__open {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;

    a {
      color: $lighter-color;
      text-decoration: none;
      font-weight: bold;
      font-size: clamp(0.8rem, 5vw, 1.2rem);
    }

    a:hover,
    a:focus {
      color: $darker-color;
    }
  }
}

.desktop-nav {
  display: none;
}

// ---------------------------------- MAIN

#home {
  .title {
    padding-top: 4rem;

    h1 {
      text-align: center;
      font-size: clamp(1.2rem, 8vw, 3rem);
      margin: 1.5rem 0;
    }

    h2 {
      text-align: center;
      font-size: clamp(1rem, 7vw, 2.5rem);
      margin: 2rem 0;
      color: $main-color2;
    }
  }

  .main-image {
    width: $mobile-img__diameter;
    height: $mobile-img__diameter;
    border-radius: 50%;
    margin: 4rem auto 0 auto;
    overflow: hidden;

    img {
      width: 100%;
      transform: translateY(-1.2rem);
    }
  }
}

// ---------------------------------- SECTIONS

section h2 {
  padding-top: 5rem;
  margin: 0;
  text-align: center;
  color: $main-color2;
  font-size: clamp(1rem, 7vw, 2.5rem);
}

// ---------------------------------- ABOUT

#about {
  p {
    margin: 2rem auto;
    padding: 0 clamp(1rem, 3vw, 3rem);
    text-align: justify;
    color: $main-color3;
    font-size: clamp(0.8rem, 4.5vw, 1rem);
    max-width: 50rem;
  }

  .img-container {
    width: $mobile-img__diameter;
    height: $mobile-img__diameter;
    margin: auto;
    margin-top: 3rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

// ---------------------------------- SKILLS

#skills {
  .icons-container {
    @include display-flex();
    justify-content: space-around;
    align-items: center;
    margin: clamp(3rem, 7vw, 6rem) 0;
  }

  .icon-container {
    position: relative;
    width: clamp(3rem, 15vw, 8rem);
    height: clamp(3rem, 15vw, 8rem);

    img {
      width: 100%;
      height: 100%;
    }

    .mini-icon {
      position: absolute;
      transform: translate(
        clamp(1rem, 2.6vw, 2.1rem),
        clamp(-1rem, -2.6vw, -2.1rem)
      );
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
    }
  }

  .languages {
    h2 {
      padding-top: 1rem;
    }
    .icons-container {
      margin-bottom: 1rem;
    }
  }

  h2 {
    margin-bottom: clamp(3rem, 7vw, 6rem);
  }
}

// ---------------------------------- PROJECTS

#projects {
  margin-bottom: 6rem;

  .project {
    position: relative;
    margin: clamp(3rem, 7vw, 6rem) auto;
    width: $mobile-img__diameter;
    height: $mobile-img__diameter;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .cover {
    @include display-flex();
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20%;
    top: 0;
    left: 0;
    background-color: $main-color3;
    height: 100%;
    width: 100%;
    opacity: 90%;
    transform: translateX(100%);
    transition: transform 0.4s;

    p {
      color: $lighter-color;
      text-align: center;
      font-size: clamp(0.6rem, 4vw, 1.2rem);
      text-shadow: 8px 8px 2px $main-color3;
    }
  }

  .project img:hover + .cover,
  .cover:hover,
  .cover p:hover {
    transform: translateX(0%);
  }
}

// ---------------------------------- CONTACTS

footer {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $main-color2;
  color: $lighter-color;
  font-weight: bold;

  .contact {
    @include display-flex();
    align-items: center;

    a {
      display: block;
      text-align: center;
      padding: 0.7rem 0;
      margin: 0;
      font-size: clamp(0.6rem, 4vw, 1rem);
      overflow: hidden;
      color: $lighter-color;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: $darker-color;
    }

    .icon {
      width: clamp(1rem, 5vw, 1.2rem);
      height: clamp(1rem, 5vw, 1.2rem);
      margin-right: 0.3rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 1000px) {
  .content-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .content {
    @include display-flex();
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: clamp(1px, 100%, 100rem);
    margin: auto;
    padding: 10vw 2rem 0 2rem;
    scroll-snap-align: start;
  }

  // ---------------------------------- NAVIGATION BAR __ DESKTOP

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    @include display-flex();
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $main-color1;
    z-index: 10;
    width: 100%;
    height: 3rem;
    border-radius: 0;
    padding: 0 clamp(2rem, 10vw, 10vw);

    a {
      color: $lighter-color;
      text-decoration: none;
      font-weight: bold;
      font-size: clamp(1rem, 5vw, 1.2rem);
      transition: transform 0.2s;
    }

    a:hover,
    a:focus {
      color: $darker-color;
      transform: scale(1.1);
    }
  }

  // ---------------------------------- MAIN

  #home {
    .title {
      padding-top: 0;
    }

    .main-image {
      width: clamp(20rem, 25vw, 25rem);
      height: auto;
      border-radius: 5px;
      box-shadow: 0px 3px 8px $main-color3;
      margin: 0;

      img {
        display: block;
        transform: none;
      }
    }
  }

  // ---------------------------------- SECTIONS

  section h2 {
    padding-top: 0;
    margin-bottom: 2rem;
  }

  // ---------------------------------- ABOUT

  #about {
    p {
      margin: 0;
      padding: 0;
      font-size: clamp(0.8rem, 4.5vw, 1.1rem);
      width: 40vw;
      max-width: 35rem;
    }

    .img-container {
      width: clamp(20rem, 25vw, 25rem);
      height: auto;
      margin: 0;
      margin-top: 0;
      border-radius: 5px;
      box-shadow: 0px 3px 8px $main-color3;

      img {
        display: block;
      }
    }
  }

  // ---------------------------------- SKILLS

  #skills {
    align-items: flex-start;
    padding-top: 25vh;

    .icons-container {
      width: 40vw;
      max-width: 30rem;
    }

    .icon-container {
      width: clamp(3rem, 15vw, 6rem);
      height: clamp(3rem, 15vw, 6rem);
    }

    .languages {
      h2 {
        padding-top: 0;
      }
    }
  }

  // ---------------------------------- PROJECTS

  #projects {
    margin-bottom: 6rem;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 6rem;
    }

    .projects {
      @include display-flex();
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .project {
      margin: 0;
      width: clamp(18rem, 25vw, 22rem);
      height: auto;
      border-radius: 5px;
      box-shadow: 0px 3px 8px $main-color3;

      img {
        display: block;
      }
    }
  }

  // ---------------------------------- CONTACTS

  footer {
    @include display-flex();
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    scroll-snap-align: start;
  }
}
