@font-face {
  font-family: Rubik;
  src: url("Fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dfedf2;
  color: #011526;
  font-family: Rubik;
}

.mobile-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0.5rem, -0.5rem);
  background-color: #038c8c;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 10;
}

.nav-menu__bars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
}

.nav-menu__bar {
  height: 3px;
  width: 100%;
  background-color: #013440;
  border-radius: 20px;
}

#home .title {
  padding-top: 4rem;
}
#home .title h1 {
  text-align: center;
  font-size: clamp(1.2rem, 8vw, 3rem);
  margin: 1.5rem 0;
}
#home .title h2 {
  text-align: center;
  font-size: clamp(1rem, 7vw, 2.5rem);
  margin: 2rem 0;
  color: #026873;
}
#home .main-image {
  width: clamp(5rem, 60vw, 20rem);
  border-radius: 50%;
  margin: 4rem auto 0 auto;
  overflow: hidden;
}
#home .main-image img {
  width: 100%;
  box-shadow: 0 2px 8px #011526;
}

section h2 {
  padding-top: 5rem;
  margin: 0;
  text-align: center;
  color: #026873;
  font-size: clamp(1rem, 7vw, 2.5rem);
}

#about p {
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: justify;
  color: #013440;
  font-size: clamp(0.8rem, 4.5vw, 1rem);
  max-width: 50rem;
}
#about .img-container {
  width: clamp(5rem, 60vw, 20rem);
  height: clamp(5rem, 60vw, 20rem);
  margin: auto;
  margin-top: 3rem;
  border-radius: 50%;
  background-color: #026873;
  text-align: center;
  overflow: hidden;
}
#about .img-container img {
  width: 100%;
}

#skills .icons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
#skills .icon-container {
  position: relative;
  width: clamp(3rem, 15vw, 8rem);
  height: clamp(3rem, 15vw, 8rem);
}
#skills .icon-container img {
  width: 100%;
  height: 100%;
}
#skills .icon-container .mini-icon {
  position: absolute;
  transform: translate(clamp(1rem, 2.6vw, 3rem), clamp(-1rem, -2.6vw, -3rem));
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
#skills .languages h2 {
  padding-top: 1rem;
}
#skills h2 {
  margin-bottom: 2.5rem;
}

#projects .project {
  margin: 3rem auto;
  width: clamp(5rem, 60vw, 20rem);
  height: clamp(5rem, 60vw, 20rem);
  border-radius: 50%;
  overflow: hidden;
}
#projects .project img {
  width: 100%;
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #026873;
  color: #dfedf2;
  font-weight: bold;
}
footer p {
  text-align: center;
  padding: 0.7rem 0;
  margin: 0;
  font-size: clamp(0.6rem, 4vw, 1rem);
  overflow: hidden;
}
footer a {
  display: block;
  text-align: center;
  padding: 0.7rem 0;
  margin: 0;
  font-size: clamp(0.6rem, 4vw, 1rem);
  overflow: hidden;
  color: #dfedf2;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
